{{#each ideas}}
<div class="card card-body mt-3">
  <h4>{{title}}</h4>
  <p>{{details}}</p>
  <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block w-25">Edit</a>
  <form action="/ideas/{{id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger btn-block w-25 mt-2" value="Delete">
  </form>
</div>
{{else}}
  <p>there is no ideas to show</p>
{{/each}}